/* <div className="details-outer">
<div className="details-info">
    <div className="header">
        <p>Item name</p>
    </div>
    <div className="main">
        <p>Item description</p>
    </div>
</div>
<div className="details-control">
    <button>Equip</button>
    <button>Drop</button>
    <button>Destroy</button>
</div>
</div> */


.details-outer {
    display: flex;

    background-color: #888;
    width: 360px;
    height: 180px;
    margin: 1rem;
    padding: 10px;
}

.details-info {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-right: 10px;
}

.details-info .header {
    font-size: 1.6rem;
    box-shadow: inset 2px 2px 0px #4d4d4d, inset -2px -2px 0px #a7a7a7;
    padding: 5px 5px;
    margin-bottom: 4px;
}

.details-info .main {
    flex-grow: 1;
    box-shadow: inset 2px 2px 0px #4d4d4d, inset -2px -2px 0px #a7a7a7;
    font-size: 1.4rem;
    padding: 5px;
}

.details-control {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-control button {
    padding: 12px 35px;
    cursor: pointer;
}