.details-outer {
    display: flex;

    background-color: #595652;
    width: 352px;
    min-height: 180px;
    margin: 1rem;
    padding: 10px;
    border: 10px solid transparent;
    border-image: url('../images/border.png') 6 round;
    border-radius: 12px;
}

.details-info {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-right: 10px;
    color: rgb(180, 180, 180);
}

.details-info .header {
    font-size: 1.6rem;
    box-shadow: inset 2px 2px 0px #313131, inset -2px -2px 0px #6d6d6d;
    /* padding: 7px 5px; */
    height: 28px;
    line-height: 28px;
    /* padding-top: 7px; */
    margin-bottom: 4px;

}

.details-info .main {
    flex-grow: 1;
    box-shadow: inset 2px 2px 0px #313131, inset -2px -2px 0px #6d6d6d;
    font-size: 1.4rem;
    padding: 10px;
}

.details-control {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-control button {
    height: 40px;
    width: 120px;
    cursor: url('../images/cursor-pointer.png'), auto;
    background-color: transparent;
    background-image: url('../images/button-iddle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 1.6rem;
    color: #dbdbdb;
    font-family: 'Arcade', sans-serif;
    text-shadow: 1px 1px 2px black;
    /* letter-spacing: 1px; */
}

.details-control button:hover {
    background-image: url('../images/button-hover.png');
}

.details-control button:active {
    background-image: url('../images/button-active.png');
    color: #663931;
    text-shadow: none;
}

