.equipment-user {
    display: flex;
    flex-direction: column;
    background-color: #595652;
    width: 300px;
    height: calc(180px + 480px + 10px);
    margin: 1rem 1rem 1rem 0;
    padding: 10px;
    border: 10px solid transparent;
    border-image: url('../images/border.png') 6 round;
    border-radius: 12px;
}

.equipment-user .user-set {
    display: flex;
    flex-direction: column;
    height: 480px;
}

.equipment-user .user-set .set-main {
    position: relative;
    height: 390px;
}

.equipment-user .user-set .set-main div,
.equipment-user .user-set .set-rings div {
    width: 70px;
    height: 70px;
    background-color: #595651;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid transparent;
    border-image: url('../images/border-slot.png') 8 round;
    border-radius: 6px;
}

.equipment-user .user-set .set-main div {
    position: absolute;
    background-size: 100%;
}

.equipment-user .user-set .set-main div.main-head {
    top: 5%;
    left: 50%;
    background-image: url('../images/head-icon.png');
    transform: translateX(-50%);
}

.equipment-user .user-set .set-main div.main-neck {
    top: 7%;
    right: 0;
    background-image: url('../images/neck-icon.png');
    transform: translate(-20%, 50%);
}

.equipment-user .user-set .set-main div.main-armor {
    top: 27%;
    right: 50%;
    background-image: url('../images/armor-icon.png');
    transform: translateX(50%);
}

.equipment-user .user-set .set-main div.main-belt {
    top: 49.5%;
    right: 50%;
    background-image: url('../images/belt-icon.png');
    transform: translateX(50%);
}

.equipment-user .user-set .set-main div.main-boots {
    top: 72.5%;
    right: 50%;
    background-image: url('../images/boots-icon.png');
    transform: translateX(50%);
}

.equipment-user .user-set .set-main div.main-weapon {
    top: 47%;
    left: 0;
    background-image: url('../images/weapon-icon.png');
    transform: translate(20%,-50%);
}

.equipment-user .user-set .set-main div.main-shield {
    top: 47%;
    right: 0;
    background-image: url('../images/shield-icon.png');
    transform: translate(-20%, -50%);
    
}


.equipment-user .user-set .set-rings {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipment-user .user-set .set-rings div {
    background-image: url('../images/ring-icon.png');
    background-size: 70%;
}

.equipment-user .user-statistics {
    flex-grow: 1;
    box-shadow: 0 -2px 0 #313131, inset 0 2px 0 #6D6D6D;
    padding: 5px;
    color: rgb(180, 180, 180);
    font-size: 1.2rem;
}