.equipment-user {
    display: flex;
    flex-direction: column;
    background-color: #595652;
    width: 300px;
    height: calc(180px + 480px + 10px);
    margin: 1rem 1rem 1rem 0;
    padding: 10px;
    border: 10px solid transparent;
    border-image: url('../images/border.png') 6 round;
    border-radius: 12px;
}

.equipment-user .user-set {
    position: relative;
    height: 480px;
}

.equipment-user .user-set div {
    position: absolute;
    background-size: 100%;
    width: 70px;
    height: 70px;
    background-color: #595651;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid transparent;
    border-image: url('../images/border-slot.png') 8 round;
    border-radius: 6px;
}

.equipment-user .user-set div.main-head {
    top: 3%;
    left: 50%;
    background-image: url('../images/head-icon.png');
    transform: translateX(-50%);
}

.equipment-user .user-set div.main-neck {
    top: 4%;
    right: 0;
    background-image: url('../images/neck-icon.png');
    transform: translate(-10%, 50%);
}

.equipment-user .user-set div.main-armor {
    top: 21.5%;
    right: 50%;
    background-image: url('../images/armor-icon.png');
    transform: translateX(50%);
}

.equipment-user .user-set div.main-belt {
    top:40%;
    right: 50%;
    background-image: url('../images/belt-icon.png');
    transform: translateX(50%);
}

.equipment-user .user-set div.main-boots {
    top: 59%;
    right: 50%;
    background-image: url('../images/boots-icon.png');
    transform: translateX(50%);
}

.equipment-user .user-set div.main-weapon {
    top: 37%;
    left: 0;
    background-image: url('../images/weapon-icon.png');
    transform: translate(10%,-50%);
}

.equipment-user .user-set div.main-shield {
    top: 37%;
    right: 0;
    background-image: url('../images/shield-icon.png');
    transform: translate(-10%, -50%);
}

.equipment-user .user-set div.main-ring1 {
    top: 100%;
    left: 0;
    background-image: url('../images/ring-icon.png');
    transform: translate(36%, -120%);
}

.equipment-user .user-set div.main-ring2 {
    top: 100%;
    right: 50%;
    background-image: url('../images/ring-icon.png');
    transform: translate(50%, -120%);
}

.equipment-user .user-set div.main-ring3 {
    top: 100%;
    right: 0;
    background-image: url('../images/ring-icon.png');
    transform: translate(-36%, -120%);
}

.equipment-user .user-statistics {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 0 #313131, inset 0 2px 0 #6D6D6D;
    padding: 5px;
    color: rgb(180, 180, 180);
    font-size: 1.2rem;
}