.equipment-user {
    display: flex;
    flex-direction: column;
    background-color: #aaa;
    width: 300px;
    height: calc(180px + 460px + 10px);
    margin: 1rem 1rem 1rem 0;
    padding: 10px;
    border: 10px solid transparent;
    border-image: url('../images/border.png') 6 round;
    border-radius: 12px;
}

.equipment-user .user-set {
    display: flex;
    flex-direction: column;
    background-color: #888;
    height: 480px;
}

.equipment-user .user-set .set-main {
    position: relative;
    /* background-color: cadetblue; */
    height: 390px;
}

.equipment-user .user-set .set-main div,
.equipment-user .user-set .set-rings div {
    width: 70px;
    height: 70px;
    background-color: #595651;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 10px solid transparent;
    border-image: url('../images/item-bg-iddle.jpg') 10 round;
}

.equipment-user .user-set .set-main div {
    position: absolute;
}

.equipment-user .user-set .set-main div.main-head {
    top: 5%;
    left: 50%;
    background-image: url('../images/head-icon.png');
    transform: translateX(-50%);
}

.equipment-user .user-set .set-main div.main-neck {
    top: 7%;
    right: 0;
    background-image: url('../images/head-icon.png');
    transform: translate(-20%, 50%);
}

.equipment-user .user-set .set-main div.main-armor {
    top: 27%;
    right: 50%;
    background-image: url('../images/head-icon.png');
    transform: translateX(50%);
}

.equipment-user .user-set .set-main div.main-belt {
    top: 49.5%;
    right: 50%;
    background-image: url('../images/head-icon.png');
    transform: translateX(50%);
}

.equipment-user .user-set .set-main div.main-boots {
    top: 72.5%;
    right: 50%;
    background-image: url('../images/head-icon.png');
    transform: translateX(50%);
}

.equipment-user .user-set .set-main div.main-weapon {
    top: 47%;
    left: 0;
    background-image: url('../images/head-icon.png');
    transform: translate(20%,-50%);
}

.equipment-user .user-set .set-main div.main-shield {
    top: 47%;
    right: 0;
    background-image: url('../images/head-icon.png');
    transform: translate(-20%, -50%);
}


.equipment-user .user-set .set-rings {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipment-user .user-set .set-rings div {
    background-image: url('../images/ring-icon.png');
}

.equipment-user .user-statistics {
    background-color: #ddd;
    flex-grow: 1;
}