@font-face {
    font-family: "Arcade";
    src: url('../fonts/ARCADECLASSIC.TTF');
}

::selection {
    background-color: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Arcade', sans-serif; */
    font-size: 10px;
}

body {
    min-height: 100vh;
    background-color: #333;
}