@font-face {
    font-family: "Arcade";
    src: url('../fonts/ARCADECLASSIC.TTF');
}

::selection {
    background-color: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Arcade', sans-serif;
    /* font-family: monospace, sans-serif; */
    font-size: 10px;
    cursor: url('../images/cursor.png'), auto;	
}

body {
    min-height: 100vh;
    background-color: #333;
}

footer {
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #111;
    width: 100vw;
    height: 60px;
    color: #aaa;
    justify-content: center;
}

footer i {
    font-size: 3.2rem;
    margin-right: 20px;
}

footer p {
    font-size: 1.6rem;
    font-weight: 700;
}

footer p span {
    font-size: 1.4rem;
    font-weight: 400;
}