.inventory-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #595652;
    width: 352px;
    height: 480px;
    margin: 1rem;
    padding: 2rem 2.6rem;
    border: 10px solid transparent;
    border-image: url('../images/border.png') 6 round;
    border-radius: 12px;
    /* text-align: center; */
    
}