.inventory-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;


    background-color: #999;
    width: 360px;
    height: 460px;
    margin: 1rem;
    padding: 2rem 2.6rem;
}