.inventory-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #595652;
    width: 360px;
    height: 460px;
    margin: 1rem;
    padding: 2rem 2.6rem;
    border: 10px solid transparent;
    border-image: url('../images/border.png') 6 round;
    border-radius: 12px;
}