.item-outer {
    width: 70px;
    height: 70px;
    background-color: #595651;
    border: 10px solid transparent;
    border-image: url('../images/border-slot.png') 8 round;
    border-radius: 10px;
    cursor: url('../images/cursor-pointer.png'),auto;
}

.item-outer:hover {
    border-image: url('../images/slot-hover.png') 8 round;
}

.item-outer.active {
    background-color: #847E87;
    border-image: url('../images/slot-active.png') 8 round;
}