.item-outer {
    width: 70px;
    height: 70px;
    background-color: #595651;
    border: 10px solid transparent;
    border-image: url('../images/border-slot.png') 8 round;
    border-radius: 10px;
}
